body{
    background-color: rgb(163, 137, 137);
    justify-content: center;
}
#form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: auto;
    margin: auto;

}

.ip {
    text-align: center;
    margin: 10px;
}