#form{
    display: flex;
    justify-content: center;
    margin: 50px;
}

#map{
    align-items: center;
    text-align: center;
    margin-top: 20px
}

.ip{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#details{
    align-items: center;
    text-align: center;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body{
    background-color: darkseagreen;
}